###  basic with pandas

In [21]:
import numpy as np 
import pandas as pd

### The Pandas series object

In [22]:
data = pd.Series([0.25, 0.5, 0.75, 1.0]) # show index and values 
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [23]:
data.values #show online values

array([0.25, 0.5 , 0.75, 1.  ])

In [24]:
data.index # show only index

RangeIndex(start=0, stop=4, step=1)

In [25]:
data[1] # can call that by index

0.5

In [26]:
data[1:3] # silce and indexing

1    0.50
2    0.75
dtype: float64

In [27]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a','b','c','d'])

In [28]:
data # co the gan index bang mot kieu dl nhu nhau va tu dinh nghia

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [29]:
data['a']

0.25

In [30]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index = [2,5,3,7])
data # co the gan index thay doi vi tri

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [31]:
data[5]

0.5

In [32]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict) # co the tranfrom tu dict -> pandas voi series function
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

###  constructing series objects

In [33]:
index = [0,1,2,3]
pd.Series(data,index = index) # tao theo index vs dinh nghia index theo mang

0     NaN
1     NaN
2    0.25
3    0.75
dtype: float64

In [34]:
pd.Series([2,3,-4,5,-6,7]) # tao theo gia tri, index tu cap nhat

0    2
1    3
2   -4
3    5
4   -6
5    7
dtype: int64

In [35]:
pd.Series(5,index = [100,200,300]) # sinh ra values nhu nhau tuong ung vs index da cho

100    5
200    5
300    5
dtype: int64

In [36]:
pd.Series({2:'a',1:'b',3:'c'}) # ep truc tiep ntn dc
# co the la dict ma values dc arrange

2    a
1    b
3    c
dtype: object

In [37]:
pd.Series({2:'a',1:'b',3:'c'}, index = [3,2])# index thiet lap ro rang dc set theo kq khac nhau

3    c
2    a
dtype: object

### The Pandas DataFrame object

### DataFrame as a generalized Numpy (khai quat hoa nhu numpy)

In [38]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [39]:
states = pd.DataFrame({'population': population,
                       'area': area})
states # ep sang type = dataframe

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [40]:
states.index # lay ra index tung row

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [41]:
states.columns # lay ra thuoc tinh col

Index(['population', 'area'], dtype='object')

In [42]:
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

### DataFrame as specialized dictionary

### Similarly, we can also think of a DataFrame as a specialization of a dictionary. Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data. For example, asking for the 'area' attribute returns the Series object containing the areas we saw earlier:
ý nghĩa là dataframe giống dict vs key + values còn dataframe có column name dùng thằng series lấy column data.

In [43]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [44]:
# COnstructing DataFrame objects

In [45]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

### From a list of dicts

In [46]:
#list comprehension is: su dung tao ra list theo cu phap 
#[expression (i) for i in oid_list if filter (i)/conditionl] 
# nhin kha cool

In [47]:
data = [{'a': i, 'b': 2 * i}for i in range(5)] # cach sinh du lieu voi nhan a va b
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4
3  3  6
4  4  8

In [48]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]) #bi thieu dl pandas fill vao la NaN (not a number)

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [49]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [50]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [51]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [52]:
print(pd.DataFrame({'population': population,'area': area}))

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [53]:
# tao ra dataframe bang dict

In [54]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.814117  0.266195
b  0.087343  0.257426
c  0.517533  0.303681

### From a NumPy structured array

In [55]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [56]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### The Pandas Index Object

In [57]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as immutable array

In [58]:
ind[1] # su ding slicing

3

In [59]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [60]:
print(ind.size, ind.shape, ind.ndim, ind.dtype) # kiem tra thong tin ve ind

5 (5,) 1 int64

In [61]:
int[0] = 9 # khong the gan truc tiep gia tri

TypeError: 'type' object does not support item assignment

### Index as ordered set

In [62]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [63]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [64]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [65]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

### Data Indexing and selection

### một số tool đã dùng trước đó như indexing, masking, fancy indexing, combinations thereof, list compehensional ap dung giong trong python basic,numpy, pandas .

### Data selection in series

###  SERIES AS DICTIONARY

In [66]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [67]:
data['b']

0.5

In [68]:
#we can also use dictionary-like python expression and methods to examine the keys/indices and values

In [69]:
'a' in data

True

In [70]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [71]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [72]:
data['e'] = -77777 # co th sua doi nhu list

In [73]:
data

a        0.25
b        0.50
c        0.75
d        1.00
e   -77777.00
dtype: float64

### Series as one-dimensional array

A Series builds on this dictionary-like interface and provides array-style item selection via the same basic mechanisms as NumPy arrays – that is, slices, masking, and fancy indexing. Examples of these are as follows:

In [74]:
# slicing by explicit index 
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [75]:
# slicing by implicit integer index 
data[0:2]

a    0.25
b    0.50
dtype: float64

In [76]:
#masking 
data [(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [77]:
# fancy indexing 
data[['a','e']]

a        0.25
e   -77777.00
dtype: float64

Indexers : indexing and slicing

In [78]:
data = pd.Series(['a', 'b', 'c', 'd','e','f'], index=[1, 3, 5 , 7 , 9 ,11])
data

1     a
3     b
5     c
7     d
9     e
11    f
dtype: object

In [79]:
# explicit index when indexing
data[1]

'a'

In [80]:
# implicit index when slicing
data[1:5]

3    b
5    c
7    d
9    e
dtype: object

In [81]:
data.loc[1]

'a'

In [82]:
data.loc[1:3]

1    a
3    b
dtype: object

In [83]:
data

1     a
3     b
5     c
7     d
9     e
11    f
dtype: object

In [84]:
data.iloc[3:5] # lay theo index ko phai theo key

7    d
9    e
dtype: object

Data Selection in DataFrame

In [85]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [86]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [87]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [88]:
data.area is data['area']

True

In [89]:
data.pop is data['pop']

False

In [90]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### DataFrame as two-dimensional array

In [95]:
data.values #loai bo di label col and row

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [110]:
data.T # t is tranpose chuyen cot thanh hang -> hang thanh cot

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [111]:
data.values[0] # giong nhu numpy cho phep goi qua index

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [112]:
data['area'] # tuong tu goi qua nhan col nhu numpy

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [113]:
data.iloc[:3, :2] # xai dc slicing and indexing

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [114]:
data.loc[:'Illinois', :'pop'] # su dung chi muc bang ten cot

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [146]:
#data['pop']
data.ix[:3,:'pop']
# version hien tai da remove ham ix.

AttributeError: 'DataFrame' object has no attribute 'ix'

In [147]:
pd.__version__

'1.0.1'

Any of the familiar NumPy-style data access patterns can be used within these indexers. For example, in the loc indexer we can combine masking and fancy indexing as in the following:

In [148]:
data.loc[data.density > 100, ['pop','density']] # lay ra cot pop and density co values > 100

              pop     density
Florida  19552860  114.806121

In [149]:
data.iloc[0:2] = 90 # dung sua values cot paramenter la number 
data

              area       pop     density
California      90        90   90.000000
Texas           90        90   90.000000
New York         0         0    0.000000
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [150]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [143]:
data[1:3] # lay ra gia tri tu 1 -> 3

          area  pop  density
Texas      -90  -90    -90.0
New York   -90  -90    -90.0

In [152]:
data[data.density > 100] # lay cot density co values > 100

           area       pop     density
Florida  170312  19552860  114.806121